build/
build_*/
*/build/

*.o
*.ko
*.obj
*.elf

*.gch
*.pch

*.so
*.dylib
*.dll

*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

f
program
test_program
*/f